*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #1C1C1C;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top:0;
    z-index: 1000;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;
}

#navbar__logo{
    
}
